/* Light/dark theme */
:root {
	--main-text-color: black;
	--main-bg-color: white;
	--mask-highlight-color: lightcoral;
}

body {
	transition: background 1s, color 1s;
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-text-color: #fafafa;
		--main-bg-color: #1c1c1e;
		--mask-highlight-color: coral;
	}
}

/* Main css */
body, input {
	font-family: monospace;
}

ip-panel {
	margin-top: 2em;
	display: block;
}

ip-panel .header{
	width: 8em;
}

ip-panel .div-cntnr span {
	display: inline-block;
}

ip-panel[version="4"] .bytesContainer{
	width: 5em;
}

ip-panel[version="4"] input{
	max-width: 4.5em;
}

ip-panel[version="6"] .bytesContainer{
	width: 9.5em;
}

ip-panel[version="6"] input{
	max-width: 9em;
}

ip-panel .maskHighlight
{
	color: var(--mask-highlight-color);
}

/* ip-panel[version="6"][base="10"][mask] {
	display: none;
} */